In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import streamlit as st
import pickle

In [19]:
data = pd.read_csv('car data.csv')

In [20]:
data.fillna(0,inplace=True)
data['Old'] = 2020 - data['Year']
data.drop(columns= ['Year'], inplace = True)
data.drop(columns= ['Car_Name'], inplace = True)
data.Owner = data.Owner.astype(int)

In [32]:
data = pd.get_dummies(data, drop_first=True)
data

,Selling_Price,Kms_Driven,Owner,Present_Price,Old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,27000,0,5.59,6,0,1,0,1
1,4.75,43000,0,9.54,7,1,0,0,1
2,7.25,6900,0,9.85,3,0,1,0,1
3,2.85,5200,0,4.15,9,0,1,0,1
4,4.60,42450,0,6.87,6,1,0,0,1
...,...,...,...,...,...,...,...,...,...
296,9.50,33988,0,11.60,4,1,0,0,1
297,4.00,60000,0,5.90,5,0,1,0,1
298,3.35,87934,0,11.00,11,0,1,0,1
299,11.50,9000,0,12.50,3,1,0,0,1
300,5.30,5464,0,5.90,4,0,1,0,1

In [33]:
X = data.iloc[:,1:]
Y = data.iloc[:,0]

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3,random_state=0)

In [35]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()
regressor.fit(X_train,Y_train)

C:\Users\Smrutishikta Das\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [36]:
import pickle
pickle_out = open("regressor.pkl","wb")
pickle.dump(regressor,pickle_out)
pickle_out.close()

In [37]:
pickle_in = open("regressor.pkl","rb")
reg=pickle.load(pickle_in)

In [38]:
reg.predict([[2500,0,5.2,4,1,0,1,1]])

array([3.055])

In [39]:
def carprice(Kms_Driven,Owner,Present_Price,Old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual):
    prediction = regressor.predict([[Kms_Driven,Owner,Present_Price,Old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual]])
    print(prediction)
    return prediction

In [40]:
st.title("Car Price Prediction app")

Kms_Driven = st.text_input("Kms_Driven","Type here")
Owner = st.text_input("Owner","Type here")
Present_Price = st.text_input("Present_Price","Type here")
Old = st.text_input("Old","Type here")
Fuel_Type_Diesel = st.text_input("Fuel_Type_Diesel","Type here")
Fuel_Type_Petrol = st.text_input("Fuel_Type_Petrol","Type here")
Seller_Type_Individual = st.text_input("Seller_Type_Individual","Type here")
Transmission_Manual = st.text_input("Transmission_Manual","Type here")

In [41]:
result = ""

In [42]:
if st.button("Predict"):
    result=carprice(Kms_Driven,Owner,Present_Price,Old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual)
    st.success("The oput is: {}".format(result))